*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #fbf0e3;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
}

#tree {
    width: 80%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#xmas {
    position: absolute;
    width: 70%;
    transform: rotate(-20deg);
    top: 36px;
}

#cover{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #fbf0e3;
    left: 0;
    bottom: 0;
}

#text {
    padding: 0px 15px 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 100%;
    position: absolute;
    padding-bottom: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: #c60f02;
}

#son {
    color: #005400;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    background-color: #D8574D;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #c60f02;
    left: 30px;
    bottom: 170px;
    width: 117px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .7px;
}

@media only screen and (orientation: landscape) {
    #tree {
        width: 150px;
    }

    #xmas {
        width: 150px;
        top: 30px;
        left: 0px;
    }

    button {
        display: none;
    }

    #cover {
        display: none;
    }

    #text {
        padding: 0;
        width: auto;
        font-size: 20px;
}